<div ng-controller="HomeController">
	<div class="row">

		<div class="col-md-2">
			<form ng-submit="addSuggestion()">
				<h3>Add location</h3>
				<div class="formgroup">
					<input type="text" class="form-control" placeholder="Name of place" ng-model="name"></input>
					<input type="text" class="form-control" placeholder="Actual place" ng-model="place"></input>
				</div>
				<button type="submit" class="btn btn-primary">Add</button>
			</form>
		</div>

		<div class="col-md-2">
			<form ng-submit="addEventDetails()">
				<h3>Add details</h3>
				<div class="formgroup">
					<input type="text" class="form-control" placeholder="Details" ng-model="details"></input>
					<input type="text" class="form-control" placeholder="Put in id" ng-model="putInId"></input>
				</div>
				<button type="submit" class="btn btn-primary">Add</button>
			</form>
				
		</div>
	</div>
	

<div class="row">
	<div class="col-md-2">
		<div ng-repeat="x in locations">
			<div class="row">
				<div class="filler2">
					<h4 class="locationBlue">{{x.name}} </h4>
					<small>{{x.place}}</small>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-10">
		<div class="timerow">
			<div ng-repeat="x in locations">
				<div class="row">
					<div class="filler">
					<div ng-repeat="event in locations[$index].events track by $index">
							<div class="event">
								<h4>{{event}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>


</div>
